@import "./animFunction.scss";

@include keyframes(animHeader) {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@include keyframes(animImg) {
    from {
        transform: translateX(40%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@include keyframes(animText) {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@include keyframes(animIcon) {
    from {
        opacity: 0;
        transform: translateX(-100%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@include keyframes(animSpan) {
    from {
        opacity: 0;
        transform: translateY(10%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}