@import "./App.scss";
@import "./animations.scss";

#wrapper {
    height: 70vh;
    width: 95%;
    box-shadow: 1px 1px 5px rgba(grey, 1);
    border-radius: 0.5em;
}

#h3-img {
    margin: 1em;
    height: 60%;


    h3 {
        padding: 0;
        margin: 2em 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        @include animation('animHeader 3s');

        &.toggle {
            @include animation('animText 2s ');
        }
    }

    #image {
        display: grid;
        justify-content: center;
        align-items: center;



        img {
            margin-top: 1em;
            border-radius: 50%;
            margin-left: 1em;
            @include animation('animImg 2s ');
            transition: transform 0.5s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.1, 1.1);
            }

            &:hover+span {
                @include animation("animSpanIn 2s");
            }
        }
    }
}

#icons {
    span {
        margin: .9em;
    }

    i {
        font-size: 1.5em;
        color: darken(getColor(primary), 90%);
        transition: color .2s ease-in-out;
        animation: iconAni 1s;
        margin-top: .7em;

        &:hover {
            color: lighten(getColor(text-color), 50%);
        }

    }
}