.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #fff2fb;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4a151a;
}

.App-link {
  color: #09d3ac;
}

@-webkit-keyframes animHeader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animHeader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes animImg {
  from {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animImg {
  from {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

#wrapper {
  height: 70vh;
  width: 95%;
  -webkit-box-shadow: 1px 1px 5px gray;
          box-shadow: 1px 1px 5px gray;
  border-radius: 0.5em;
}

#h3-img {
  margin: 1em;
  height: 60%;
}

#h3-img h3 {
  padding: 0;
  margin: 2em 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  -webkit-animation: animHeader 3s 3;
  animation: animHeader 3s 3;
}

#h3-img h3.toggle {
  -webkit-animation: textAni 2s;
          animation: textAni 2s;
}

@-webkit-keyframes textAni {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes textAni {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

#h3-img img {
  margin-top: 1em;
  border-radius: 50%;
  z-index: 1;
  -webkit-animation: animImg 2s ;
  animation: animImg 2s ;
}

#icons span {
  margin: .9em;
}

#icons i {
  font-size: 1.5em;
  color: #26001a;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  -webkit-animation: iconAni 1s;
          animation: iconAni 1s;
}

#icons i:hover {
  color: #dc828b;
}

@-webkit-keyframes iconAni {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes iconAni {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=userStyle.css.map */