@import "./App.scss";

@mixin animate {
    @keyframes animate {
        from {
            opacity: 0;
            transform: translateX(-50%);
        }

        to {
            opacity: 1;
            transform: translateX(0)
        }
    }
}

#wrapper {
    height: 70vh;
    width: 95%;
    box-shadow: 1px 1px 5px rgba(grey, 1);
    border-radius: 0.5em;
}

#h3-img {
    margin: 1em;
    height: 60%;
    animation: fadeIn 1s;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    h3 {
        padding: 0;
        margin: 2em 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;

        &.toggle {
            animation: textAni 2s;
        }

        @keyframes textAni {
            from {
                transform: translateX(-50%);
                opacity: 0;
            }

            to {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }

    img {
        margin-top: 1em;
        border-radius: 50%;
        z-index: 1;
    }

}

#icons {
    span {
        margin: .9em;
    }

    i {
        font-size: 1.5em;
        color: darken(getColor(primary), 90%);
        transition: color .2s ease-in-out;
        animation: iconAni 1s;

        &:hover {
            color: lighten(getColor(text-color), 50%);
        }
    }

    @keyframes iconAni {
        from {
            opacity: 0;
            transform: translateX(-100%)
        }

        to {
            opacity: 1;
            transform: translateX(0)
        }
    }
}